<html>
  <head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/form.css') }}" type="text/css "/>
  </head>
  <body>
    <div name="form" >
      <form action = "/handle" method = "get">
        <div class="title">Welcome to the sentiment analysis application</div>
        <div class="subtitle">Let's enter a piece of text. We will tell you if it is positive, negative, or neutral.</div>
        <div class="input" >
          <input id="piecetext" class="input" type="text" placeholder=" " value="" name="piecetext" />
          <div class="cut"></div>
          <label for="piecetext" class="placeholder">Your text</label>
        </div>
        <button type="submit" class="submit" value = "submit" id="button">Submit</button>
        <div class="output" id="output_sentiment">
          <br>

        </div>
      </form>
    </div>
  </body>
</html>
<!--
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/form.js') }}"></script>



<output name="result" class="output" value = "Your sentence is ..."></output>-->

